h4 {
	color:#1b5768;
}

h5 {
	color: white;
}

.container {
	min-height: 80vh;
}

.blue {
	background-color:#1b5768;
	
}

.color1 {
	background-color:#ecfad4;
}
.color2 {
	background-color:#1b5768;
}

.input-group-addon {
	background-color:#1b5768;
	color: white;
}

.jumbotron {
	background-color:#1b5768;
	
}

.blanc {
	color:#FFFFFF;
}

.btn-primary {
	background-color:#1b5768;
	color:white;
}

